<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\aaron\Desktop\deploypkg\TheRegistry.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/Registry18</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=TheRegistry;User ID=registry;Password=14Character$$$" Name="Server=(local); Database=TheRegistry; User Id=registry; Password=14Character$$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Questionnaire2.Entities, TheRegistry" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=AuthenticationDB;User ID=registry;Password=14Character$$$" Name="Server=(local); Database=AuthenticationDB; User Id=registry; Password=14Character$$$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Questionnaire2.Models.ApplicationDbContext, TheRegistry" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuestionnaireContext" Order="3" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=TheRegistry;User ID=registry;Password=14Character$$$" Name="Server=(local); Database=TheRegistry; User Id=registry; Password=14Character$$$" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=TheRegistry;User ID=registry;Password=14Character$$$" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuestionnaireContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=(local); Database=TheRegistry; User Id=registry; Password=14Character$$$" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=(local); Database=AuthenticationDB; User Id=registry; Password=14Character$$$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string="Server=(local); Database=TheRegistry; User Id=registry; Password=14Character$$$"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuestionnaireContext-Web.config Connection String">
      <ParameterValue>Server=(local); Database=TheRegistry; User Id=registry; Password=14Character$$$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>